<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Is there Life on Mars??????</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>We don't know if there's life on Mars. But we do know.....</h1>
      <p>There's interesting facts. There's gorgeous hemispheres. There's amazing scenery.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Mars Data!</a></p>
    </div>
    <img src="C:\Users\flier\Desktop\web-scraping-challenge\mars_landscape.jpg" alt="Mars">
    <h2>Here's some interesting Mars Facts!</h2>
    <h3>Latest News Headline: {{ mars_data.latest_news_title }}</h3>
    <h3>Most Recent Featured Photo {{ mars_data.featured_image_url }}</h3>
  </div>
  </div>
</body>

</html>
